.bg-set{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    /* background:linear-gradient(to bottom, rgba(0,0,0,0.4),100%,rgba(0,0,0,0.8)),url('../img/landing-hero.jpg') ; */
    
}

.on{
    text-decoration: underline;
    color: chartreuse;
    font-weight: bold;
}